.input--form{
    margin: 10px 0 !important;
    width: 100% !important;
}
.input--form--min{
    margin: 10px 10px 10px 0 !important;
}
.title{
    margin: 20px 0 0 0 !important;
    text-align: center;
}
.container--button{
    display: flex;
    justify-content: center;
}
.card{
    padding: 20px;
    width: 800px !important;
    height: fit-content;
}

@media only screen and (max-width: 770px){
    .card{
        padding: 20px;
        width: 100% !important;
        height: fit-content;
    }
    .input--form--min{
        margin: 10px 0px 10px 0 !important;
    }
}