.container--dash{
   width: 100% !important;
   max-width: 900px;
   min-width: 300px;
}

.grafico{
    margin: 10px 0 !important;
}

.container--genre{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    width: 100% !important;
}

.tabPanel1{
    display: flex;
    justify-content: center;
    
}
.container--cards{
    width: 840px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container--title{
    width: 300px;
    margin: 0 !important;
}
.card--genre{
    width: 100% !important;
    margin: 5px 5px 0 0;
}
.card--senioridade{
    width: 100% !important;
    margin: 5px 5px 0 0;
}
.container--senioridade--currency,
.container--genre--currency{
    display: flex;
    width: 100%;
}
@media only screen and (max-width: 900px){
    .container--genre{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 15px;
        width: 400px;        
    }
    .container--cards{
        flex-direction: column;
    }
    .container--cards{
        width: 300px !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .container--title{
        width: 200px;
        margin-left: 60px !important;
    }
    .card--genre{
        width: 100% !important;
        margin: 5px 5px 5px 0;
    }
    .container--senioridade--currency,
    .container--genre--currency{
        display: flex;
        flex-direction: column;
    } 

}