.container--dash{
   width: 100% !important;
   max-width: 900px;
   min-width: 300px;
}

.grafico{
    margin: 10px 0 !important;
}

.container--genre{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.tabPanel1{
    display: flex;
    justify-content: center;
    /* width: 100% !important; */
    
}
.container--cards{
    width: 800px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container--title{
    width: 400px;
}
@media only screen and (max-width: 900px){
    .container--genre{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 15px;
        width: 100%;        
    }
    .container--cards{
        flex-direction: column;
    }
    

}